# Binaries
**/bin/
bin-int/
Intermediates/

# Owl files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
OwlEngine/Assets/cache
scripts/__pycache__


**/OwlProfile-*.json
